# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# logs
*.log

# data
data/raw/
data/external/
*.csv
*.xlsx
*.parquet
# Virtual Environment
.venv/
venv/
env/
